:root {
  --clr-white: hsl(0, 0%, 98%);
  --clr-grey: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);

  --font-weight-500: 500;
  --font-weight-700: 700;

  --font-size-100: 1rem;
  --font-size-200: 1.125rem;
  --font-size-300: 2.5rem;
  --box-width: 100%;
}

/* hamburger button */
header > div {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 35px;
  height: 5px;
  background-color: var(--clr-black);
  margin-top: 6px;
  transition: all 400ms;
}

.change .bar-1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar-2 {
  opacity: 0;
}
.change .bar-3 {
  transform: translate(0, -11px) rotate(45deg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo-image {
  height: 27pt;
  width: 84pt;
  margin-top: 10px;
}

button {
  all: unset;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-white);
}

/* A elements that don't have a class get default styles */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

li {
  display: inline-block;
}

/* utility classes */
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* font size */

.font-size-100 {
  font-size: var(--font-size-100);
}
.font-size-200 {
  font-size: var(--font-size-200);
}
.font-size-300 {
  font-size: var(--font-size-300);
}

/* font weight */

.font-weight-500 {
  font-weight: var(--font-weight-500);
}

.font-weight-700 {
  font-weight: var(--font-weight-700);
}

/* text color */

.txt-clr-grey {
  color: var(--clr-grey);
}

.txt-clr-white {
  color: var(--clr-white);
}

.txt-clr-black {
  color: var(--clr-black);
}

/* button classes */

/* fill */

.fill-noun {
  background-color: none;
}
.fill-black {
  background-color: var(--clr-black);
}

/* border */
.border-true {
  border-color: none;
  border: solid 2px;
  border-radius: 15px;
}

.border-false {
  border: none;
}

/* border color */

.border-clr-black {
  border-color: var(--clr-black);
}

.border-clr-grey {
  border-color: var(--clr-grey);
}

/* margin */
.margin-left-1 {
  margin-left: 0.8em;
}
.margin-top-1 {
  margin-top: auto;
}

.margin-bottom {
  margin-bottom: auto;
}

.display-inline-block {
  display: inline;
}

/* sizing */

.width-max {
  width: 100%;
}
.height-max {
  height: 100%;
}

/* flex properties */

.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.flex-dir-column {
  flex-direction: column;
}

.flex-dir-row {
  flex-direction: row;
}

.float-right {
  margin-left: auto;
}

main {
  width: var(--box-width);
  /* background-color: blue; */
}

.company-logo {
  height: 100%;
  width: 100%;
}

/* btn */

.text-container > button,
header > ul > li > button {
  height: 40px;
  text-align: center;
  width: 120px;
  transition: all 300ms ease;
}
header > ul > li > button:active,
.text-container > button:active,
.clr-change-on-click:active {
  transition: all 100ms ease;
}
.text-container > button:active {
  background-color: var(--clr-white);
  color: var(--clr-black);
}
.clr-change-on-click {
  transition: all 300ms ease;
  cursor: pointer;
}

.clr-change-on-click:active {
  color: var(--clr-black);
}

header > ul > li > button:active {
  color: var(--clr-black);
  border-color: var(--clr-black);
}

header {
  padding: 20px;
}

/* drop down */
.drop-down-btn,
.drop-down-btn > img {
  position: relative;
}
.drop-down-btn > * {
  position: absolute;
}

/* for interactivity */

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-container > div {
  display: none;
}
/*media queries */
@media screen and (max-width: 47.1em) {
  .img-container {
    display: none;
  }
  header > div {
    display: inline-block;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  .text-container > div {
    display: inline-block;
  }

  .text-container > h1 > br {
    display: none;
  }

  main {
    max-width: 375px;
  }
  body {
    text-align: center;
  }
  .margin-left-2 {
    margin-left: 0px;
  }
  header > ul {
    display: none;
  }

  .text-container > h1 {
    margin-top: 1em;
    padding: 0;
  }
  .text-container > p {
    padding: 0 2em;
  }

  .text-container > ul {
    flex-wrap: wrap;
    display: inline-block;
    padding: 0;
  }

  .text-container > ul > li:nth-child(1) {
    margin-left: 0px;
  }

  .margin-top-1 {
    margin-top: 2em;
  }

  .text-container > ul > li {
    margin-top: 30px;
  }

  .text-container > button {
    align-self: center;
  }
}

@media screen and (min-width: 47.1em) {
  :root {
    --font-size-300: 3.5rem;
  }
  .margin-left-2 {
    margin-left: 40px;
  }
  .margin-left-1 {
    margin-left: 1.8rem;
  }
  article {
    height: 500px;
  }
  .img-container {
    aspect-ratio: 3/4;
    height: 100%;
  }

  .text-container {
    aspect-ratio: 3/4;
    height: 100%;
  }
  header > ul > li {
    margin-left: 5px;
    /* background-color: aqua; */
  }
  .drop-down-menu-2 > ul {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .drop-down-menu > ul {
    padding: 20px;
    margin: auto;
    height: 165px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .drop-down-menu-2 {
    width: 120px;
    height: 120px;
  }
  .drop-down-menu-2 {
    background-color: var(--clr-white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.207) 5px 7px 20px 3px;
  }
  .drop-down-menu {
    background-color: var(--clr-white);
    /* background-color: aqua; */
    border-radius: 10px;
    width: 145px;
    box-shadow: rgba(0, 0, 0, 0.207) 5px 7px 20px 3px;
  }
}

@media screen and (min-width: 54em) {
  :root {
    --box-width: 54rem;
  }
  header > ul > li {
    margin-left: 20px;
  }
}

@media screen and (min-width: 60em) {
  header > ul > li {
    margin-left: 30px;
  }
}
